* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 100%;
}

.a-block {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.horizontal ul {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: space-between;
}

.middle-container {
	height: 100%;
	width: 80%;
	margin: 0 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex-middle {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-start {
	display: flex;
	align-items: flex-start;
}



/*---------------Стили верхнего контейнера-------------------*/

@media all and ( min-width: 1400px ) 
{
	* {
		font-size: 1vw;
	}

	#top-container {
		height: 3vw;
		background: #24292E;
		position: fixed;
		z-index: 999;
	}

	#under {
		height: 3vw;
	}

	#top-container .middle-container {
		color: #fff;
	}

	#top-container .logotype {
		background-image: url( http://site/app/tmpl/main/img/logo/main.logo.png );
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 50%;
		background-position: center;
		opacity: .9;
		width: 2vw;
		height: 2vw;
	}

	#top-container .logotype:hover {
		opacity: 1;
		transition: 1s;
	}

	.horizontal a{
		color: #fff;
		font-size: 1.1vw;
		font-family: 'Ubuntu', sans-serif;
	}

	.horizontal li {
		margin-right: 2vw;
	}

	.horizontal li:hover {
		border-bottom: .1vw solid #E6E8EA;
	}

	.horizontal li:last-child {
		margin-right: 0;
	}

	#top-links-auth {
		display: flex;
		align-items: center;
		justify-content: space-around;
		font-size: .8vw;
		color: #425869;
	}

	#top-links-auth a {
		color: #fff;
		font-size: 1.1vw;
	}

	#top-links-auth a:first-child {
		margin-right: 1vw;
	}

	#top-links-auth a:last-child {
		margin-left: 1vw;
	}

	#top-container .search{
		width: 20%;
		height: 1.5vw;
	}

	#top-search-form {
		width: 100%;
		height: 100%;
	}

	#top-search-form .input-search {
		height: 100%;
		border: 0;
		border-radius: .2vw;
		padding: 0 1vw;
		width: calc( 100% - 2vw );
		background: #3F4448;
		color: #fff;
		font-family: 'Ubuntu', sans-serif;
		font-stretch: ultra-condensed;
		font-size: .9vw;
	}

	#top-search-form .input-search:hover {
		background: #4B4F53;
	}


}

@media all and ( min-width: 900px ) and ( max-width: 1399px )
{
	* {
		font-size: 1.5vw;
	}

	#top-container {
		height: 6vw;
		background: #24292E;
	}

	#under {
		height: 6vw;
	}

	#top-container .middle-container {
		height: 100%;
		width: 90%;
		margin: 0 5%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #fff;
	}

	#top-container .logotype {
		background-image: url( http://site/app/tmpl/main/img/logo/main.logo.png );
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 50%;
		background-position: center;
		opacity: .9;
		width: 4vw;
		height: 4vw;
	}

	#top-container .logotype:hover {
		opacity: 1;
		transition: 1s;
	}

	.horizontal a{
		color: #fff;
		font-size: 1.5vw;
		font-family: 'Ubuntu', sans-serif;
	}

	.horizontal li {
		margin-right: 2.2vw;
	}

	.horizontal li:hover {
		border-bottom: .1vw solid #E6E8EA;
	}

	.horizontal li:last-child {
		margin-right: 0;
	}

	#top-links-auth {
		display: flex;
		align-items: center;
		justify-content: space-around;
		font-size: 1.1vw;
		color: #425869;
	}

	#top-links-auth a {
		color: #fff;
		font-size: 1.5vw;
	}

	#top-links-auth a:first-child {
		margin-right: 1.3vw;
	}

	#top-links-auth a:last-child {
		margin-left: 1.3vw;
	}

	#top-container .search{
		display: none;
	}

	#top-search-form {
		width: 100%;
		height: 100%;
	}

	#top-search-form .input-search {
		
	}

	#top-search-form .input-search:hover {
		background: #4B4F53;
	}
}


/*---------------------Конец стилей--------------------------*/

/*-----------------Стили главного контейнера------------------*/

@media all and ( min-width: 1400px ) 
{
	#main-container {
		min-height: calc( 100vh - 3vw );
	}

	#main-container .block-page {
		min-height: 100vh;
		width: 100%;
		background-position: center;
	}

	#first-block-main-page {
		background-image: url( http://site/app/tmpl/main/img/bg/bg_1.png );
		min-height: calc( 100vh - 3vw );
	}

	.black-mask {
		background: rgba(0,0,0,.92);
		width: 100%;
		min-height: calc( 100vh - 3vw );
	}

	.block-page .intro-block {
		width: 80%;
		min-height: calc( 100vh - 3vw );
		margin: 0 10%;
	}

	.flex-center-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.big-title {
		font-size: 2vw;
		font-weight: bold;
		color: #fff;
		font-family: 'Open Sans', sans-serif;
	}

	#first-block-main-page .text {
		color: #fff;
		font-size: 1.4vw;
		font-family: 'Ubuntu', sans-serif;
	}

	#first-block-main-page .big-title {
		margin-bottom: 2vw;
	}

	#first-block-main-page .text-desc {
		font-size: 1.1vw;
		color: #ddd;
		font-family: 'Ubuntu', sans-serif;
		margin: 1vw 0;
	}

	#first-block-main-page .b-l {
		width: 66%;
	}

	.b-l .big-title, .b-l .text-desc, .b-l .text {
		text-align: right;
	}

	#first-block-main-page .b-r {
		width: 30%;
	}

	#fast-regist-from-main-page {
		padding: 1vw 1vw;
		background: #fff;
		width: calc( 100% - 2vw );
		border-radius: .3vw;
	}

	#fast-regist-from-main-page .title-form {
		font-size: 1.1vw;
		font-weight: bold;
		text-align: center;
		padding-bottom: .5vw;
		border-bottom: .1vw solid rgba(0,0,0,.3);
	}

	.input-field {
		width: 100%;
		margin-top: 1vw;
		padding-bottom: 1vw;
		border-bottom: .1vw solid rgba(0,0,0,.3);
	}

	.input-field label {
		font-size: .9vw;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-family: 'Ubuntu', sans-serif;
		color: rgba(0,0,0,.7);
	}

	.input-field .input {
		width: calc( 80% - 2vw );
		padding: 0 1vw;
		height: 2.3vw;
		border: .1vw solid rgba(0,0,0,.3);
		border-radius: .2vw;
		box-shadow: 0 0 .3vw rgba(0,0,0,.5);
		font-size: .9vw;
		font-family: 'Ubuntu', sans-serif;
		color: #333;
		margin: .2vw 0;
	}

	.submit-field input {
		height: 2.7vw;
		background: #2EBC4F;
		color: #fff;
		border: 0;
		border-radius: .2vw;
		width: 100%;
		margin-top: 1vw;
		font-family: 'Ubuntu', sans-serif;
		font-size: 1.2vw;
	}

	.submit-field input:hover {
		transition: .1s;
		cursor: pointer;
		box-shadow: 0 0 .8vw rgba(0,0,0,.5);
	}




}

@media all and ( min-width: 900px ) and ( max-width: 1399px )
{

}

/*---------------------Конец стилей--------------------------*/

/*------------------------Стили footer-----------------------*/

footer {
	width: 100%;
	height: 30vh;
	padding: 3vw 0;
	background: #fff;
	display: flex;
	align-items: center;
	border-top: .1vw solid rgba(0,0,0,.3);
}

footer .list-links {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

footer .middle-container {
	height: 70%;
}

.list-links ul {
	text-align: center;
}

.list-links li:first-child {
	margin-bottom: 1vw;
	font-weight: bold;
}

.list-links li {
	margin-bottom: .5vw;
}

.list-links a {
	color: #024B9C;
}

#site-logo-name {
	text-align: center;
	color: #333;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.1vw;
}

#site-logo-name a {
	color: #000;
	font-family: 'Wendy One', sans-serif;
	font-size: 1.5vw;
	text-align: center;

}

/*---------------------Конец стилей--------------------------*/

#regist-form {
	width: 60%;
	border: .1vw solid rgba(0,0,0,.2);
	padding: 1vw;
	border-radius: .2vw;
	margin: 5vw 0;
}

#regist-form .title-form {
	font-size: 1.5vw;
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
}

#desc-form {
	font-size: .99vw;
	color: rgba(0,0,0,.5);
	line-height: 2vw;
	font-family: 'Ubuntu', sans-serif;
}

#steps-reg-list {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	height: 4vw;
	margin: 1vw 0;
}

.step-reg {
	width: 33%;
	height: 100%;
	border: .06vw solid rgba(0,0,0,.1);
	padding: .5vw 0;
	display: flex;
}

.step-reg:first-child {
	border-right: 0;
}

.step-reg:last-child {
	border-left: 0;
}

.step-reg .img-step {
	height: 100%;

}

.step-reg img {
	height: 100%;
}

.step-num {
	font-size: 1.1vw;
	font-weight: bold;
	color: #000;
	font-family: 'Ubuntu', sans-serif;
}

.desc-step .text {
	font-size: .9vw;
	color: .9vw;
	margin-top: .5vw;
	font-family: 'Ubuntu', sans-serif;
}

.desc-now-step {
	font-size: 1.2vw;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	margin: 1vw 0;
}

#regist-form .input-field {
	display: block;
	width: 60%;
}

#regist-form .input-field label {
	width: 100%;
	display: block;
	padding-bottom: 1vw;
}

#regist-form .input-field input {
	width: calc( 100% - 2vw );
	height: 2vw;
	border-radius: .2vw;
	padding: 0 1vw;
	border: .05vw solid rgba(0,0,0,.3);
	font-size: .8vw;
	margin-top: .5vw;
	background: #fafbfc;
}

.input-desc {
	font-size: .8vw;
	color: rgba(0,0,0,.5);
	line-height: 1vw;
}

#regist-form .ttl-inp {
	color: #000;
}

#regist-form .submit-field {
	width: 60%;
}

.right-block-form {
	border: .05vw solid rgba(0,0,0,.3);
	padding: .5vw;
	border-radius: .2vw;
	width: 35%;
	margin-top: 2.7vw;
}

.right-block-form .title {
	font-size: 1.1vw;
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
	border-bottom: .03vw solid rgba(0,0,0,.4);
	padding-bottom: .5vw;
}

#regist-form .flex-start {
	justify-content: space-between;
}

.right-block-form img {
	height: 1vw;
	vertical-align: middle;
}

.right-block-form li {
	font-size: .8vw;
	color: rgba(0,0,0,.7);
	margin: .5vw 0;
}

.radio-field {
	width: 40%;
	height: 100%;
}

.radio-field .tarif-list {
	border: .03vw solid rgba(0,0,0,.3);
	height: 2vw;
	margin: .5vw 0;
	border-radius: .2vw;
}

.radio-field .tarif-list:hover {
	background: #fafbfc;
}

.radio-field .tarif-list label {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 1vw;
	width: calc( 100% - 2vw );
}

.tarif-list .text {
	margin: 0 1vw;
	font-size: .9vw;
	font-weight: bold;
	color: #555fa1;
	font-family: 'Ubuntu', sans-serif;
}

.radio-field .tarif-list label:hover {
	cursor: pointer;
}

#trafic-right-block {
	margin-top: .5vw;
	width: 45%;
	background: #fafbfc;
}

.right-block-form ul ul {
	margin-left: 1.5vw;
}

.right-block-form .fir {
	font-weight: bold;
	color: #444;
}

.radio-field .checkbox-field {
	height: 2vw;
	border: .03vw solid rgba(0,0,0,.3);
	margin-top: 2vw;
	width: 120%;
}

.radio-field .checkbox-field:last-child {
	margin-top: .5vw;
}

.radio-field .checkbox-field label{
	width: 100%;
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 1vw;
}

.radio-field .checkbox-field .text {
	font-size: .8vw;
	color: rgba(0,0,0,.8);
}

.date-field {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

#date-field #day {
	width: 10%;
	text-align: center;
}

#date-field #month {
	width: 20%;
	text-align: center;
}

#date-field #year {
	width: 20%;
	text-align: center;
}

select {
	height: 2vw;
	padding: 0 1vw;
	font-size: .9vw;
	border-radius: .2vw;
	margin-top: .5vw;
}

select:hover {
	cursor: pointer;
}